.button
  border-radius: 0.25em;
  background-color: hsla(192,52%,52%,1);
  padding: 2px 1em;
  &:hover
    background-color: hsla(192,52%,62%,1);
  a
    text-decoration: none;
    color:hsla(192,72%,100%,1);
    padding: 0.2em;
    font-size: 0.9em;
  &.disabled {
    background-color: hsla(192,52%,32%,1);
    color: hsla(192,52%,72%,1);
  }